.whatsnewContainer {
  position: absolute;
  width: 38em;
  height: 95%;
  max-height: 60em;
  background: var(--background-primary);
  z-index: 50;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  animation-fill-mode: forwards;
  transform-origin: center center;

  .whatsnewHeader {
    margin: 20px;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
      color: var(--text-primary);
    }
  }

  .whatsnewImgContainer {
    width: 96%;
    display: flex;
    margin: 0 auto;

    .whatsnewImg {
      margin: 8px auto;
      width: 90%;
      border-radius: 16px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
  }

  .whatsnewTextContainer {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;

    li {
      margin: 2px 0;
      list-style-type: disc;
      list-style-position: inside;
      text-indent: -1em;
      padding-left: 1em;
    }

    img {
      width: 100%;
      border-radius: 12px;
      aspect-ratio: 16/9;
      object-fit: cover;
      margin-bottom: 12px;
    }

    h1:not(.whatsnewTextHeader) {
      position: sticky;
      font-size: 1.2em;
      width: 100%;
      top: 0;
      background: var(--background-primary) !important;
      z-index: 1;
      padding: 12px;
      padding-left: 0px;
      padding-bottom: 8px;
    }
  }

  .whatsnewTextHeader {
    font-size: 1.4em !important;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #4dd868;
    font-weight: 600;
    width: fit-content;
    position: relative;

    &::after {
      content: "";
      margin: 0;
      width: 160%;
      height: 2px;
      background: #4dd868;
      margin-left: 10px;
      position: absolute;
      top: 50%;
    }
  }

  .whatsnewFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3em;
    border-radius: 0 0 20px 20px;
    background: var(--theme-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
    a {
      color: white;
      border: none;
    }

    div {
      margin: 0 15px;
      display: flex;
      align-items: center;
    }
  }

  #whatsnewclosebutton {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 2em;
    padding: 5px;
    cursor: pointer;

    &::before {
      content: "\ed8a";
      color: currentColor;
      font-size: 24px;
      font-family: "IconFamily";
      pointer-events: none;
    }
  }
}

.whatsnewBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 49;
  transform: scale(1) !important;
}