/* 
 * This file is part of BetterGmail.
 *
 * BetterGmail is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * BetterGmail is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BetterGmail.  If not, see <https://www.gnu.org/licenses/>.
 */

// loaded as soon as possible
@use 'injected/popup.scss';

html {
  background: #161616 !important;
  background-color: #161616;
  font-family: Rubik, Roboto !important;
}

.addedButton {
  position: relative !important;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  left: 8px;
  pointer-events: auto;
  top: 8px;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  width: 40px;
  border: unset;
  cursor: pointer;
  
  &:hover {
    background-color: #E7E9EC;
    transition: background-color 0.2s ease-in-out;
  }

  svg {
    color: #5F6367;
    height: 60%;
  }
}